body {
    font-size: .85em;
    font-family: "Marmelad", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

@media (min-width: 980px) { 
    body { 
        padding-top: 60px; 
        background-image:url(/Content/images/background3.jpg);
        background-repeat:no-repeat;
    }
    .content
    {
        padding: 15px;
    }
    .fixedHeight {
        height:1200px;
        width:1200px;
        overflow-y:auto;
        margin:auto
    }
}
@media (max-width: 480px) {
    .hero-unit
    {
        padding:30px;
    }

    .hero-unit h1 { 
        font-size: 40px;
    }

    .content
    {
        padding:5px;
    }
}

h1, h2
{
    color:#426c0b;
}

.hero-unit h1 { 
        color:#283A10;
    }

header, footer, nav, section {
    display: block;
}

.content {
    background-color:#fff;
}

#map-canvas {
  width:300px;
  height:200px
}

.twitterFeed {
    height:598px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}

.twitterFeed ul {
    list-style:none;
    margin:0;
}

.twitterFeed li {
    padding: 12px 12px 10px 12px;
    border: 1px solid #e8e8e8;
    border-width: 0 0 1px;
    
}

.rss .item {
    margin-bottom:10px;
    overflow: hidden;
}

.rss img
{
    float:left;
    margin-right:10px;
}
.rss p
{
    margin-right:10px;
}

.rss span {
    color:#94B36B;
    font-size:11px
}

