body {
    font-size: .85em;
    font-family: "Marmelad", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

@media (min-width: 980px) { 
    body { 
        padding-top: 60px; 
        background-image:url(/Content/images/background3.jpg);
        background-repeat:no-repeat;
    }
    .content
    {
        padding: 15px;
    }
}
@media (max-width: 480px) {
    .hero-unit
    {
        padding:30px;
    }

    .hero-unit h1 { 
        font-size: 40px;
    }

    .content
    {
        padding:5px;
    }
}

h1, h2
{
    color:#426c0b;
}

.hero-unit h1 { 
        color:#283A10;
    }

header, footer, nav, section {
    display: block;
}

.content {
    background-color:#fff
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
